@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root {
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --neutral-very-pale-blue: hsl(225, 100%, 98%);
    --neutral-very-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-very-dark-blue: hsl(223, 47%, 23%);
    --font-family-red-hat-display: 'Red Hat Display', sans-serif;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-red-hat-display);
}

body p {
    font-size: 16px;
}

main {
    width: 100%;
    background-color: var(--primary-pale-blue);
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    max-width: 300px;
}

.content .img img {
    width: 100%;
}

.content .text {
    color: var(--neutral-very-dark-blue);
    text-align: center;
}

.content .text .title {
    margin: 20px 0;
}

.content .text .title h2 {
    font-size: 1.3rem;
    font-weight: 900;
}

.content .text .text-inner {
    padding: 0 30px;
}

.content .text .text-inner p {
    font-weight: 300;
    color: var(--neutral-very-desaturated-blue);
}

.content .end {
    width: 100%;
    padding: 20px;
}

.content .end .price {
    display: flex;
    justify-content: space-between;
    background: var(--neutral-very-pale-blue);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

.content .end .price img {
    margin-right: 20px;
}


.content .end .price .money {
    display: flex;
    align-items: center;
}

.content .end .price .money p {
    font-size: .9rem;
}

.content .end .price .money p:first-child {
    font-weight: 900;
    display: block;
}

.content .end .price .money p:last-child {
    color: var(--neutral-very-desaturated-blue);
}

.content .end .price a {
    color: var(--primary-bright-blue);
    font-weight: 900;
    font-size: .8rem;
    display: block;
    text-align: end;
}

.content .end .price a:hover {

    text-decoration: none;
    opacity: .5;
}

.content .button {
    width: 100%;
    margin-top: 20px;
}

.content .button button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--primary-bright-blue);
    color: white;
    font-weight: 900;
    border: none;
}

.content .button button:hover {
    opacity: .5;
}

.content .button a {
    display: block;
    text-decoration: none;
    color: var(--neutral-very-desaturated-blue);
    margin-top: 20px;
    font-weight: 900;
    font-size: .9rem;
}

.content .button a:hover {
    color: var(--primary-bright-blue);
}